.header-li {
  padding: 1rem;
  color: $white;
  font-weight: 300;
  &:hover {
    color: $default-orange;
  }
}
.active-header {
  color: $default-orange;
}

.header-logo {
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 2rem;
}
.header-fixed {
  z-index: 1000;
}
