* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Panchang", sans-serif;
}

.header {
  height: 40rem;
  h1 {
    font-size: 5.25rem;
    font-weight: 800;
  }
}

.skryta-absolute {
  height: 30rem;
}

.page {
  position: absolute;
  height: 40rem;

  .inner {
    display: flex;
    justify-content: center;
    h1 {
      font-family: "Bebas Neue";
      font-size: 52px;
      letter-spacing: 0.1rem;
      .line-wrap {
        overflow: hidden;
        height: 70px;
      }
    }
    p {
      font-family: "Poppins";
      margin-top: 200px;
      width: 340px;
      font-weight: 300;
      line-height: 24px;
      font-size: 14px;
    }
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

@import "./styles/variables";
